Uma determinada loja deseja produzir relatórios semanais com ganhos e despesas. O gerente da loja te contratou para gerar um relatório de uma semana para mostrar ao dono da loja como a análise dos dados pode ser útil para eles. Para isso, ele te enviou uma tabela de exemplo das despesas de uma semana: CONTEXTO Além disso, ele informou que os ganhos não estão nessa planilha, mas que ele possui a seguinte lista: 2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893 respectivos aos dias da semana. Ele te deixou bem livre para incluir no relatório as estatísticas que desejar, mas ele deseja que o relatório contenha outros dados que veremos a seguir..

In [2]:
import pandas as pd
import numpy as np

dados = {'Limpeza': [100,0,100,0,100,100,0],'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],'Transporte': [150,100,125,300,275,525,75],'Outros': [0,0,2310,500,0,0,820]}

df1 = pd.DataFrame(dados,index=['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo'])

df1

         Limpeza  Comida  Transporte  Outros
Segunda      100  221.60         150       0
Terça          0  375.31         100       0
Quarta       100  412.00         125    2310
Quinta         0  495.20         300     500
Sexta        100  411.53         275       0
Sabado       100  245.00         525       0
Domingo        0  164.00          75     820

Gerar um relatório de uma semana para mostrar ao dono da loja como a análise dos
dados pode ser útil e incluir no relatório outros itens:

In [3]:
import pandas as pd
import numpy as np

dados = {'Limpeza': [100,0,100,0,100,100,0],'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],'Transporte': [150,100,125,300,275,525,75],'Outros': [0,0,2310,500,0,0,820]}

df1 = pd.DataFrame(dados,index=['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo'])

df1['Ganhos'] = np.NaN
df1['Ganhos'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]
df1

         Limpeza  Comida  Transporte  Outros  Ganhos
Segunda      100  221.60         150       0  2200.0
Terça          0  375.31         100       0  2420.5
Quarta       100  412.00         125    2310  3391.0
Quinta         0  495.20         300     500  5322.0
Sexta        100  411.53         275       0  4898.5
Sabado       100  245.00         525       0  4200.0
Domingo        0  164.00          75     820  3893.0

 A subtração de impostos dos ganhos diários, que nesta semana foi de 7%;

In [4]:
import pandas as pd
import numpy as np

dados = {'Limpeza': [100,0,100,0,100,100,0],'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],'Transporte': [150,100,125,300,275,525,75],'Outros': [0,0,2310,500,0,0,820]}

df1 = pd.DataFrame(dados,index=['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo'])

df1['Ganhos'] = np.NaN
df1['Ganhos'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]

df1['impostos'] = df1['Ganhos'] * 0.07 

df1

df1['subtração'] = df1['Ganhos'] - df1['impostos']

df1

         Limpeza  Comida  Transporte  Outros  Ganhos  impostos  subtração
Segunda      100  221.60         150       0  2200.0   154.000   2046.000
Terça          0  375.31         100       0  2420.5   169.435   2251.065
Quarta       100  412.00         125    2310  3391.0   237.370   3153.630
Quinta         0  495.20         300     500  5322.0   372.540   4949.460
Sexta        100  411.53         275       0  4898.5   342.895   4555.605
Sabado       100  245.00         525       0  4200.0   294.000   3906.000
Domingo        0  164.00          75     820  3893.0   272.510   3620.490

 A soma total dos ganhos;

In [5]:
import pandas as pd
import numpy as np

dados = {'Limpeza': [100,0,100,0,100,100,0],'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],'Transporte': [150,100,125,300,275,525,75],'Outros': [0,0,2310,500,0,0,820]}

df1 = pd.DataFrame(dados,index=['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo'])

df1['Ganhos'] = np.NaN
df1['Ganhos'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]

df1['Ganhos'].sum()

26325.0


A média semanal dos ganhos;

In [6]:
import pandas as pd

dados = {'Limpeza': [100,0,100,0,100,100,0],'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],'Transporte': [150,100,125,300,275,525,75],'Outros': [0,0,2310,500,0,0,820]}

df1 = pd.DataFrame(dados,index=['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo'])

df1['Ganhos'] = np.NaN
df1['Ganhos'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]

df1['Ganhos'].mean()

3760.714285714286

A soma total das despesas por categoria;

In [7]:
import pandas as pd

dados = {'Limpeza': [100,0,100,0,100,100,0],'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],'Transporte': [150,100,125,300,275,525,75],'Outros': [0,0,2310,500,0,0,820]}

df1 = pd.DataFrame(dados,index=['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo'])

df1['Ganhos'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]

df1.sum()

Limpeza         400.00
Comida         2324.64
Transporte     1550.00
Outros         3630.00
Ganhos        26325.00
dtype: float64


■ A média semanal de todas as despesas;

In [8]:
import pandas as pd

dados = {'Limpeza': [100,0,100,0,100,100,0],'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],'Transporte': [150,100,125,300,275,525,75],'Outros': [0,0,2310,500,0,0,820]}

df1 = pd.DataFrame(dados,index=['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo'])

df1['Ganhos'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]

df1.mean()

Limpeza         57.142857
Comida         332.091429
Transporte     221.428571
Outros         518.571429
Ganhos        3760.714286
dtype: float64

O lucro diário para informar qual dia foi mais lucrativo e o lucro total da semana;

In [9]:
import pandas as pd

dados = {'Limpeza': [100,0,100,0,100,100,0],'Comida': [221.60,375.31,412.00,495.20,411.53,245.00,164.00],'Transporte': [150,100,125,300,275,525,75],'Outros': [0,0,2310,500,0,0,820]}

df1 = pd.DataFrame(dados,index=['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado', 'Domingo'])

df1['Ganhos'] = np.NaN
df1['Ganhos'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]


df1.sort_values(by='Ganhos')

         Limpeza  Comida  Transporte  Outros  Ganhos
Segunda      100  221.60         150       0  2200.0
Terça          0  375.31         100       0  2420.5
Quarta       100  412.00         125    2310  3391.0
Domingo        0  164.00          75     820  3893.0
Sabado       100  245.00         525       0  4200.0
Sexta        100  411.53         275       0  4898.5
Quinta         0  495.20         300     500  5322.0